In [1]:
mylist = [1,2,3]
for num in range(10):
    print(num)
    
for num in range(3,10):
    print(num)
    
for num in range(3,10,2):
    print(num)

0
1
2
3
4
5
6
7
8
9
3
4
5
6
7
8
9
3
5
7
9

In [2]:
# range() is a generator
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [5]:
index_count = 0

for letter in 'abcde':
    print(f'At index {index_count} the letter is {letter}')
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [6]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [7]:
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [8]:
word = 'abcde'
for index,letter in enumerate(word):
    print(letter)

a
b
c
d
e

In [12]:
# zip will only go to the length of the shorter list
list1 = [1,2,3,4,5,6,7,7]
list2 = ['a', 'b', 'c', 'd', 'e']

for num,letter in zip(list1, list2):
    print(num)
    print(letter)

1
a
2
b
3
c
4
d
5
e

In [13]:
list(zip(list1, list2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [14]:
'x' in [1,2,3]

False

In [15]:
'x' in ['x', 'y', 'z']

True

In [16]:
'mykey' in {'mykey': 345}

True

In [19]:
d = {'mykey': 345}
print(345 in d.values())
print(345 in d.keys())

True
False

In [20]:
min(list1)

1

In [21]:
max(list2)

'e'

In [23]:
from random import shuffle

shuf = list(range(10))
shuffle(shuf)
print(shuf)
shuffle(shuf)
print(shuf)

[6, 4, 8, 7, 9, 2, 3, 5, 1, 0]
[9, 6, 4, 8, 3, 5, 7, 0, 2, 1]

In [24]:
from random import randint

randint(0,100)

14

In [26]:
result = input('This text will show up for input. Enter a number: ')
print(result)

This text will show up for input. Enter a number: 44
44

In [27]:
result

'44'

In [28]:
float(result)

44.0

In [29]:
int(result)

44

# List Comprehension

In [30]:
mystring = 'hello'

In [31]:
# first 2 vars must match
mylist = [letter for letter in mystring]

In [32]:
mylist

['h', 'e', 'l', 'l', 'o']

In [33]:
mylist = [x for x in range(0,11)]
print(mylist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
mylist = [x**2 for x in range(0,11)]
print(mylist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:
mylist = [x for x in range(0,11) if x % 2 == 0]
print(mylist)

[0, 2, 4, 6, 8, 10]

In [37]:
celsius = [0,10,20,34.5]
farenheit = [((9/5) * temp + 32) for temp in celsius]
print(farenheit)

[32.0, 50.0, 68.0, 94.1]

In [38]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]
print(mylist)

[2, 20, 200, 4, 40, 400, 6, 60, 600]