In [1]:
# Similar to lists, except that they are immutable. Use parenthesis instead of lists.
t = (1,2,3)
my_list = [1,2,3]
print(type(t))
print(type(my_list))

<class 'tuple'>
<class 'list'>

In [3]:
t = ('one',2)
print(t)

('one', 2)

In [4]:
t[0]

'one'

In [6]:
t = ('a','a','b')
t.count('a')

2

In [8]:
# use .index() to see the first occurence
t.index('b')

2

In [9]:
my_list[0] = 'NEW'
my_list

['NEW', 2, 3]

In [10]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment